.idea
*.iml
*.iws
*.ipr
.vagrant
.vscode/*
tests/roles/*
!tests/roles/spec
*.retry
tests/docker/docker.env
tests/outputs/*
pip.conf
tests/.Python
tests/venv
tests/bin
tests/include
tests/lib
setup.sh
docker_return_code
test.yml.sample
